Repository eclipse-threadx/threadx: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/smp.yml, .pipelines/tx.yml

Path conditions:
  .pipelines/smp.yml: any of: .pipelines/tx.yml, common_smp, samples, test/tx, utility, ports_smp/linux/gnu
  .pipelines/tx.yml: any of: .pipelines/tx.yml, common, samples, test/tx, utility, ports/linux/gnu

Shortened MSVC thread-transition target paths
  test/tx/cmake/thread_transition/CMakeLists.txt
Due: .pipelines/smp.yml, .pipelines/tx.yml

Released a module thread's kernel stack only when it has one, so deleting a thread without a manager-allocated stack no longer asks for that memory back
  common_modules/module_manager/inc/txm_module_manager_dispatch.h
Due: none

Added a Module Manager host test harness and covered the user-mode thread kernel stack lifetime
  test/tx/cmake/CMakeLists.txt
  test/tx/cmake/module_manager/CMakeLists.txt
  test/tx/module_manager/threadx_module_manager_host_test_port.h
  test/tx/module_manager/threadx_module_manager_thread_kernel_stack_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Added a Module Manager host test harness and released a module thread's kernel stack only when it has one (#738)
  common_modules/module_manager/inc/txm_module_manager_dispatch.h
  test/tx/cmake/CMakeLists.txt
  test/tx/cmake/module_manager/CMakeLists.txt
  test/tx/module_manager/threadx_module_manager_host_test_port.h
  test/tx/module_manager/threadx_module_manager_thread_kernel_stack_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Reconfigured the build when the requested compiler changes (#657)
  scripts/cmake_bootstrap.sh
Due: none

Put the module manager test's thread on the kernel's created list, so the stand-in kernel matches the one the manager reads
  test/tx/module_manager/threadx_module_manager_thread_kernel_stack_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Stopped the test runners from reporting an incomplete build as test failures
  scripts/cmake_bootstrap.sh
Due: none

Put the module manager test's thread on the kernel's created list, so the stand-in kernel matches the one the manager reads (#739)
  test/tx/module_manager/threadx_module_manager_thread_kernel_stack_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Instrumented every build configuration and merged their coverage
  .github/workflows/regression_template.yml
  scripts/cmake_bootstrap.sh
  test/smp/cmake/CMakeLists.txt
  test/smp/cmake/coverage.sh
  test/tx/cmake/CMakeLists.txt
  test/tx/cmake/coverage.sh
Due: .pipelines/smp.yml, .pipelines/tx.yml

Fixed the SMP exclusion test's implicit declaration so the suite builds under GCC 14
  test/smp/regression/threadx_smp_random_resume_suspend_exclusion_pt_test.c
Due: none

Pinned the certification build environment and enabled CI on the certification branch
  .github/workflows/regression_template.yml
  .github/workflows/regression_test.yml
  scripts/install.sh
  test/smp/cmake/coverage.sh
  test/tx/cmake/coverage.sh
Due: .pipelines/smp.yml, .pipelines/tx.yml

Updated the workflow actions so the regression suites can run at all
  .github/workflows/regression_template.yml
Due: none

Granted the reusable workflow calls the permissions their jobs request
  .github/workflows/regression_test.yml
Due: none

Ran the regression suites one test at a time so the timing tests stop flaking
  scripts/test_smp.sh
  scripts/test_tx.sh
Due: none

Stopped the thread priority change test leaving core 0 to a finished thread
  test/smp/regression/threadx_thread_priority_change.c
Due: none

Widened the coverage gates to clear the measured run-to-run variance
  test/smp/cmake/coverage.sh
  test/tx/cmake/coverage.sh
Due: .pipelines/smp.yml, .pipelines/tx.yml

Bounded threadx_thread_wait_abort_and_isr_test's wait for its race window
  test/tx/regression/threadx_thread_wait_abort_and_isr_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Bounded threadx_thread_delayed_suspension_test's wait for its race window
  test/tx/regression/threadx_thread_delayed_suspension_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Bounded the event flag ISR tests' waits for their race windows
  test/tx/regression/threadx_event_flag_isr_set_clear_test.c
  test/tx/regression/threadx_event_flag_isr_wait_abort_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the queue services' trace inserts in every system state
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_queue_trace_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Instrumented a sixth build configuration that defines TX_MISRA_ENABLE
  test/tx/cmake/CMakeLists.txt
  test/tx/cmake/coverage.sh
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the thread services' trace inserts in every system state
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_thread_trace_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the thread stack check's fault arms from the test side
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_thread_stack_check_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the timer and time services' trace inserts in every system state
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_timer_trace_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the semaphore services' trace inserts in every system state
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_semaphore_trace_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the mutex services' trace inserts in every system state
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_mutex_trace_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the event flags services' trace inserts and the zero-flag request
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_event_flag_trace_test.c
  test/tx/regression/threadx_event_flag_zero_request_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Fixed the garbage _tx_initialize_unused_memory in the GNU Cortex-A ports (#726)
  ports/cortex_a34/gnu/src/tx_initialize_low_level.S
  ports/cortex_a35/gnu/src/tx_initialize_low_level.S
  ports/cortex_a53/gnu/src/tx_initialize_low_level.S
  ports/cortex_a55/gnu/src/tx_initialize_low_level.S
  ports/cortex_a57/gnu/src/tx_initialize_low_level.S
  ports/cortex_a65/gnu/src/tx_initialize_low_level.S
  ports/cortex_a65ae/gnu/src/tx_initialize_low_level.S
  ports/cortex_a72/gnu/src/tx_initialize_low_level.S
  ports/cortex_a73/gnu/src/tx_initialize_low_level.S
  ports/cortex_a75/gnu/src/tx_initialize_low_level.S
  ports/cortex_a76/gnu/src/tx_initialize_low_level.S
  ports/cortex_a76ae/gnu/src/tx_initialize_low_level.S
  ports/cortex_a77/gnu/src/tx_initialize_low_level.S
  ports_arch/ARMv8-A/threadx/ports/gnu/src/tx_initialize_low_level.S
  ports_module/cortex_a35/gnu/example_build/sample_threadx/tx_initialize_low_level.S
  ports_module/cortex_a35/gnu/example_build/sample_threadx_module_manager/tx_initialize_low_level.S
Due: none

Guarded _tx_thread_stack_analyze against inverted stack pointers (#727)
  common/src/tx_thread_stack_analyze.c
  common_smp/src/tx_thread_stack_analyze.c
  test/smp/regression/threadx_thread_stack_checking_test.c
  test/tx/regression/threadx_thread_stack_checking_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Masked the SMP remap core maps to silence a false -O2 array bounds error (#728)
  common_smp/inc/tx_thread.h
  common_smp/src/tx_thread_smp_utilities.c
Due: .pipelines/smp.yml

Replaced the GNU-only dsb/isb 0xF operands with the UAL sy form (#729)
  ports/cortex_m0/ac6/inc/tx_port.h
  ports/cortex_m0/gnu/inc/tx_port.h
  ports/cortex_m0/iar/inc/tx_port.h
  ports/cortex_m23/ac6/inc/tx_port.h
  ports/cortex_m23/gnu/inc/tx_port.h
  ports/cortex_m23/iar/inc/tx_port.h
  ports/cortex_m3/ac5/inc/tx_port.h
  ports/cortex_m3/ac6/inc/tx_port.h
  ports/cortex_m3/gnu/inc/tx_port.h
  ports/cortex_m3/iar/inc/tx_port.h
  ports/cortex_m3/keil/inc/tx_port.h
  ports/cortex_m33/ac6/inc/tx_port.h
  ports/cortex_m33/gnu/inc/tx_port.h
  ports/cortex_m33/iar/inc/tx_port.h
  ports/cortex_m4/ac5/inc/tx_port.h
  ports/cortex_m4/ac6/inc/tx_port.h
  ports/cortex_m4/gnu/inc/tx_port.h
  ports/cortex_m4/iar/inc/tx_port.h
  ports/cortex_m4/keil/inc/tx_port.h
  ports/cortex_m52/ac6/inc/tx_port.h
  ports/cortex_m52/gnu/inc/tx_port.h
  ports/cortex_m52/iar/inc/tx_port.h
  ports/cortex_m55/ac6/inc/tx_port.h
  ports/cortex_m55/gnu/inc/tx_port.h
  ports/cortex_m55/iar/inc/tx_port.h
  ports/cortex_m7/ac5/inc/tx_port.h
  ports/cortex_m7/ac6/inc/tx_port.h
  ports/cortex_m7/gnu/inc/tx_port.h
  ports/cortex_m7/iar/inc/tx_port.h
  ports/cortex_m85/ac6/inc/tx_port.h
  ports/cortex_m85/gnu/inc/tx_port.h
  ports/cortex_m85/iar/inc/tx_port.h
  ports_arch/ARMv7-M/threadx/inc/tx_port.h
  ports_arch/ARMv8-M/threadx/inc/tx_port.h
  scripts/check_ports.sh
Due: none

Allowed tx_timer_change to be called from tx_application_define (#730)
  common/src/txe_timer_change.c
  common_smp/src/txe_timer_change.c
  test/smp/regression/testcontrol.c
  test/tx/regression/testcontrol.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Applied R_ARM_RELATIVE relocations at GNU ThreadX module startup (#731)
  ports_module/cortex_m0+/gnu/example_build/sample_threadx_module/gcc_setup.s
  ports_module/cortex_m0+/gnu/example_build/sample_threadx_module/sample_threadx_module.ld
  ports_module/cortex_m3/gnu/example_build/build_threadx_module_sample.bat
  ports_module/cortex_m3/gnu/example_build/gcc_setup.s
  ports_module/cortex_m3/gnu/example_build/sample_threadx_module.ld
  ports_module/cortex_m33/gnu/example_build/gcc_setup.s
  ports_module/cortex_m4/gnu/example_build/build_threadx_module_sample.bat
  ports_module/cortex_m4/gnu/example_build/gcc_setup.s
  ports_module/cortex_m4/gnu/example_build/sample_threadx_module.ld
  ports_module/cortex_m7/gnu/example_build/build_threadx_module_sample.bat
  ports_module/cortex_m7/gnu/example_build/gcc_setup.s
  ports_module/cortex_m7/gnu/example_build/sample_threadx_module.ld
Due: none

Restored the random stack fill value cleared during thread creation (#732)
  common/src/tx_thread_create.c
  common_modules/module_manager/src/txm_module_manager_thread_create.c
  common_smp/src/tx_thread_create.c
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/testcontrol.c
  test/smp/regression/threadx_thread_stack_fill_value_test.c
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/testcontrol.c
  test/tx/regression/threadx_thread_stack_fill_value_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Completed Windows simulator support and regression coverage (#736)
  ports/win32/vs_2019/inc/tx_port.h
  ports/win32/vs_2019/src/tx_initialize_low_level.c
  ports/win32/vs_2019/src/tx_thread_context_restore.c
  ports/win32/vs_2019/src/tx_thread_context_save.c
  ports/win32/vs_2019/src/tx_thread_interrupt_control.c
  ports/win32/vs_2019/src/tx_thread_schedule.c
  ports/win32/vs_2019/src/tx_thread_stack_build.c
  ports/win32/vs_2019/src/tx_thread_system_return.c
  ports/win64/vs_2022/inc/tx_port.h
  ports/win64/vs_2022/src/tx_initialize_low_level.c
  ports/win64/vs_2022/src/tx_thread_context_restore.c
  ports/win64/vs_2022/src/tx_thread_interrupt_control.c
  ports/win64/vs_2022/src/tx_thread_schedule.c
  ports/win64/vs_2022/src/tx_thread_stack_build.c
  ports/win64/vs_2022/src/tx_thread_system_return.c
  test/smp/regression/testcontrol.c
  test/tx/cmake/thread_transition/CMakeLists.txt
  test/tx/regression/threadx_thread_basic_execution_test.c
  test/tx/regression/threadx_trace_entry_update_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the block pool services' trace inserts and the allocate's trace update
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_block_pool_trace_test.c
  test/tx/regression/threadx_block_pool_trace_update_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the byte pool services' trace inserts and the allocate's trace update
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_byte_pool_trace_test.c
  test/tx/regression/threadx_byte_pool_trace_update_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml
