Repository eclipse-threadx/threadx: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/smp.yml, .pipelines/tx.yml

Path conditions:
  .pipelines/smp.yml: any of: .pipelines/tx.yml, common_smp, samples, test/tx, utility, ports_smp/linux/gnu
  .pipelines/tx.yml: any of: .pipelines/tx.yml, common, samples, test/tx, utility, ports/linux/gnu

Update LICENSE.txt
  LICENSE.txt
Due: none

Update LICENSE.txt (#261)
  LICENSE.txt
Due: none

Add random number stack filling option. (#257)
  common/inc/tx_api.h
  common/inc/tx_user_sample.h
  common/src/tx_initialize_kernel_enter.c
  common/src/tx_thread_create.c
  common_modules/module_manager/src/txm_module_manager_thread_create.c
  common_smp/inc/tx_api.h
  common_smp/inc/tx_user_sample.h
  common_smp/src/tx_initialize_kernel_enter.c
  common_smp/src/tx_thread_create.c
  test/smp/cmake/CMakeLists.txt
  test/smp/regression/testcontrol.c
  test/tx/cmake/CMakeLists.txt
  test/tx/regression/testcontrol.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Fixed MISRA2012 rule 10.4_a
  common_smp/src/tx_byte_pool_search.c
Due: .pipelines/smp.yml

Fixed MISRA2012 rule 10.4_a
  common_smp/src/tx_thread_system_suspend.c
Due: .pipelines/smp.yml

Fixed MISRA2012 rule 8.3
  common_smp/inc/tx_thread.h
  common_smp/src/tx_thread_smp_utilities.c
Due: .pipelines/smp.yml

Fix MISRA issues for ThreadX SMP (#263)
  common_smp/inc/tx_thread.h
  common_smp/src/tx_byte_pool_search.c
  common_smp/src/tx_thread_smp_utilities.c
  common_smp/src/tx_thread_system_suspend.c
Due: .pipelines/smp.yml

Export _tx_handler_svc_unrecognized as weak symbol.
  ports_module/cortex_a7/ac5/module_manager/src/tx_thread_schedule.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_schedule.s
  ports_module/cortex_a7/iar/module_manager/src/tx_thread_schedule.s
  ports_module/cortex_r4/ac6/module_manager/src/tx_thread_schedule.S
  ports_module/cortex_r4/iar/module_manager/src/tx_thread_schedule.s
Due: none

Export _tx_handler_svc_unrecognized as weak symbol. (#264)
  ports_module/cortex_a7/ac5/module_manager/src/tx_thread_schedule.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_schedule.s
  ports_module/cortex_a7/iar/module_manager/src/tx_thread_schedule.s
  ports_module/cortex_r4/ac6/module_manager/src/tx_thread_schedule.S
  ports_module/cortex_r4/iar/module_manager/src/tx_thread_schedule.s
Due: none

Update tx_port.h
  ports_smp/cortex_a75_smp/gnu/inc/tx_port.h
Due: none

Add a pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add a pull request template (#272)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix compile warnings in Linux port.
  ports/linux/gnu/inc/tx_port.h
Due: .pipelines/tx.yml

Unify ThreadX and SMP for ARMv8-A.
  .github/workflows/ports_arch_check.yml
  ports_arch/ARMv8-A/threadx/ports/ac6/src/tx_initialize_low_level.S
  ports_arch/ARMv8-A/threadx_modules/common/src/txm_module_manager_thread_stack_build.S
  ports_arch/ARMv8-A/threadx_smp/common/inc/tx_port.h
  ports_arch/ARMv8-A/threadx_smp/common/src/tx_thread_smp_core_get.S
  ports_arch/ARMv8-A/threadx_smp/common/src/tx_thread_smp_core_preempt.S
  ports_arch/ARMv8-A/threadx_smp/common/src/tx_thread_smp_current_state_get.S
  ports_arch/ARMv8-A/threadx_smp/common/src/tx_thread_smp_current_thread_get.S
  ports_arch/ARMv8-A/threadx_smp/common/src/tx_thread_smp_initialize_wait.S
  ports_arch/ARMv8-A/threadx_smp/common/src/tx_thread_smp_low_level_initialize.S
  ports_arch/ARMv8-A/threadx_smp/common/src/tx_thread_smp_protect.S
  ports_arch/ARMv8-A/threadx_smp/common/src/tx_thread_smp_time_get.S
  ports_arch/ARMv8-A/threadx_smp/common/src/tx_thread_smp_unprotect.S
  ports_arch/ARMv8-A/update.ps1
Due: none

Fix path in pipeline to check ports arch.
  .github/workflows/ports_arch_check.yml
Due: none

Add ignore folders for ARM DS
  .gitignore
Due: none

Ignore untracked files for ports_arch check.
  .github/workflows/ports_arch_check.yml
Due: none

Fix compile warnings in Linux port. (#276)
  ports/linux/gnu/inc/tx_port.h
Due: .pipelines/tx.yml

fix link flag to -mcpu=cortex-a9
  ports_smp/cortex_a9_smp/gnu/example_build/build_threadx_sample.bat
Due: none

Remove duplicate declaration "invalidateCaches_IS"
  ports_smp/cortex_a5_smp/ac5/example_build/sample_threadx/v7.h
  ports_smp/cortex_a5_smp/gnu/example_build/v7.h
  ports_smp/cortex_a7_smp/ac5/example_build/sample_threadx/v7.h
  ports_smp/cortex_a7_smp/gnu/example_build/v7.h
  ports_smp/cortex_a9_smp/gnu/example_build/v7.h
Due: none

Add ports_smp cmake build support
  CMakeLists.txt
  cmake/cortex_a9.cmake
  common_smp/CMakeLists.txt
  ports_smp/cortex_a9_smp/gnu/CMakeLists.txt
Due: .pipelines/smp.yml

Use arch instead of CPU to simplify the project management.
  ports/cortex_a35/gnu/example_build/tx/.cproject
  ports/cortex_a53/gnu/example_build/tx/.cproject
  ports/cortex_a55/gnu/example_build/tx/.cproject
  ports/cortex_a57/gnu/example_build/tx/.cproject
  ports/cortex_a65/gnu/example_build/tx/.cproject
  ports/cortex_a65ae/gnu/example_build/tx/.cproject
  ports/cortex_a72/gnu/example_build/tx/.cproject
  ports/cortex_a73/gnu/example_build/tx/.cproject
  ports/cortex_a75/gnu/example_build/tx/.cproject
  ports/cortex_a76/gnu/example_build/tx/.cproject
  ports/cortex_a76ae/gnu/example_build/tx/.cproject
  ports/cortex_a77/gnu/example_build/tx/.cproject
  ports_arch/ARMv8-A/threadx/ports/gnu/example_build/tx/.cproject
Due: none

SysTick initialization problem fixed in tx_initialize_low_level.s
  ports/cortex_m0/ac5/example_build/tx_initialize_low_level.s
  ports/cortex_m0/gnu/example_build/tx_initialize_low_level.S
  ports/cortex_m0/iar/example_build/tx_initialize_low_level.s
  ports/cortex_m0/keil/example_build/tx_initialize_low_level.s
Due: none

1. Add thumb mode support, and set the default mode be arm-mode. 2. Fix build script issue.
  ports_module/cortex_a7/gnu/example_build/build_threadx_module_library.bat
  ports_module/cortex_a7/gnu/example_build/crt0.S
  ports_module/cortex_a7/gnu/example_build/tx_initialize_low_level.s
  ports_module/cortex_a7/gnu/inc/tx_port.h
  ports_module/cortex_a7/gnu/inc/txm_module_port.h
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_context_restore.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_context_save.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_fiq_nesting_end.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_fiq_nesting_start.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_interrupt_control.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_interrupt_disable.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_interrupt_restore.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_irq_nesting_end.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_irq_nesting_start.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_schedule.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_stack_build.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_system_return.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_timer_interrupt.s
  ports_module/cortex_a7/gnu/module_manager/src/txm_module_manager_thread_stack_build.s
  ports_module/cortex_a7/gnu/module_manager/src/txm_module_manager_user_mode_entry.s
  test/ports/azrtos_cicd.csv
Due: none

Enable CodeQL
  .github/workflows/codeql.yml
Due: none

Build cortex-m0 in CodeQL
  .github/workflows/codeql.yml
Due: none

Trigger the CodeQL by cron only
  .github/workflows/codeql.yml
Due: none

Enable CodeQL (#285)
  .github/workflows/codeql.yml
Due: none

Allow manual trigger for CodeQL action
  .github/workflows/codeql.yml
Due: none

Allow manual trigger for CodeQL action (#286)
  .github/workflows/codeql.yml
Due: none

Added thumb mode support under GNU for module manager on Cortex-A7 platform.
  ports_module/cortex_a7/gnu/example_build/build_threadx_module_library.bat
  ports_module/cortex_a7/gnu/example_build/crt0.S
  ports_module/cortex_a7/gnu/example_build/gcc_setup.S
  ports_module/cortex_a7/gnu/example_build/module_code.c
  ports_module/cortex_a7/gnu/example_build/tx_initialize_low_level.s
  ports_module/cortex_a7/gnu/inc/tx_port.h
  ports_module/cortex_a7/gnu/inc/txm_module_port.h
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_context_restore.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_context_save.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_fiq_context_restore.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_fiq_context_save.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_fiq_nesting_end.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_fiq_nesting_start.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_interrupt_control.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_interrupt_disable.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_interrupt_restore.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_irq_nesting_end.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_irq_nesting_start.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_schedule.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_stack_build.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_system_return.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_thread_vectored_context_save.s
  ports_module/cortex_a7/gnu/module_manager/src/tx_timer_interrupt.s
  ports_module/cortex_a7/gnu/module_manager/src/txm_module_manager_thread_stack_build.s
  ports_module/cortex_a7/gnu/module_manager/src/txm_module_manager_user_mode_entry.s
  test/ports/azrtos_cicd.csv
Due: none
