Repository eclipse-threadx/threadx: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/smp.yml, .pipelines/tx.yml

Path conditions:
  .pipelines/smp.yml: any of: .pipelines/tx.yml, common_smp, samples, test/tx, utility, ports_smp/linux/gnu
  .pipelines/tx.yml: any of: .pipelines/tx.yml, common, samples, test/tx, utility, ports/linux/gnu

Reduced the byte pool owner change test to a single claim thread
  test/smp/regression/threadx_byte_pool_owner_change_test.c
Due: none

Raised the SMP gate onto the floor the pool batch lifted
  test/smp/cmake/coverage.sh
Due: none

Covered the three registry decisions ordinary use never reaches
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/threadx_trace_object_registry_test.c
Due: none

Covered the MISRA shim's stack check and its two conversions
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/threadx_misra_shim_test.c
Due: none

Covered the four trace services that carry an insert of their own
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/threadx_trace_service_trace_test.c
Due: none

Covered both trace inserts the enable service writes itself
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/threadx_trace_enable_trace_test.c
Due: none

Covered the enable's inserts with their own event class filtered
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/threadx_trace_enable_filtered_test.c
Due: none

Raised the SMP gate onto the floor the trace batch lifted
  test/smp/cmake/coverage.sh
Due: none

Covered the byte allocate's overwritten trace entry
  ports_smp/linux/gnu/inc/tx_port.h
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/cmake/samples/fake.c
  test/smp/regression/testcontrol.c
  test/smp/regression/threadx_byte_pool_trace_overwrite_test.c
  test/smp/regression/threadx_initialize_kernel_setup_test.c
Due: .pipelines/smp.yml

Covered the second MISRA loop the always-true shim controls
  test/smp/regression/threadx_timer_misra_loop_test.c
Due: none

Raised the SMP gate onto the new denominator and floor
  test/smp/cmake/coverage.sh
Due: none

Raised the SMP gate onto the floor the trace race test lifted
  test/smp/cmake/coverage.sh
Due: none

Covered the user event insert's own test of a disabled trace buffer
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/threadx_trace_user_event_insert_disabled_test.c
Due: none

Settled the SMP coverage gate margin on the evidence measurement
  test/smp/cmake/coverage.sh
Due: none

Corrected the gate comment's count of single-carrier outcomes
  test/smp/cmake/coverage.sh
Due: none

Made the SMP pt test's randomised phase set preemption thresholds
  test/smp/regression/threadx_smp_random_resume_suspend_exclusion_pt_test.c
Due: none

Added a blame ignore list for the mechanical header and version passes
  .git-blame-ignore-revs
Due: none

Added a check that keeps the AI disclosure comment in its one accepted form
  .github/workflows/repo_checks.yml
  scripts/check_ai_disclosure.sh
Due: none

Enabled execution profiling for Cortex-R5
  ports/cortex_r5/ac5/src/tx_thread_context_restore.s
  ports/cortex_r5/ac5/src/tx_thread_context_save.s
  ports/cortex_r5/ac5/src/tx_thread_fiq_context_restore.s
  ports/cortex_r5/ac5/src/tx_thread_fiq_context_save.s
  ports/cortex_r5/ac5/src/tx_thread_schedule.s
  ports/cortex_r5/ac5/src/tx_thread_system_return.s
  ports/cortex_r5/ac5/src/tx_thread_vectored_context_save.s
  ports/cortex_r5/ac6/src/tx_thread_context_restore.S
  ports/cortex_r5/ac6/src/tx_thread_context_save.S
  ports/cortex_r5/ac6/src/tx_thread_fiq_context_restore.S
  ports/cortex_r5/ac6/src/tx_thread_fiq_context_save.S
  ports/cortex_r5/ac6/src/tx_thread_schedule.S
  ports/cortex_r5/ac6/src/tx_thread_system_return.S
  ports/cortex_r5/ac6/src/tx_thread_vectored_context_save.S
  ports/cortex_r5/ghs/src/tx_thread_context_restore.arm
  ports/cortex_r5/ghs/src/tx_thread_context_save.arm
  ports/cortex_r5/ghs/src/tx_thread_fiq_context_restore.arm
  ports/cortex_r5/ghs/src/tx_thread_fiq_context_save.arm
  ports/cortex_r5/ghs/src/tx_thread_schedule.arm
  ports/cortex_r5/ghs/src/tx_thread_system_return.arm
  ports/cortex_r5/ghs/src/tx_thread_vectored_context_save.arm
  ports/cortex_r5/gnu/src/tx_thread_context_restore.S
  ports/cortex_r5/gnu/src/tx_thread_context_save.S
  ports/cortex_r5/gnu/src/tx_thread_fiq_context_restore.S
  ports/cortex_r5/gnu/src/tx_thread_fiq_context_save.S
  ports/cortex_r5/gnu/src/tx_thread_schedule.S
  ports/cortex_r5/gnu/src/tx_thread_system_return.S
  ports/cortex_r5/gnu/src/tx_thread_vectored_context_save.S
  ports/cortex_r5/iar/src/tx_thread_context_restore.s
  ports/cortex_r5/iar/src/tx_thread_context_save.s
  ports/cortex_r5/iar/src/tx_thread_schedule.s
  ports/cortex_r5/iar/src/tx_thread_system_return.s
  ports/cortex_r5/iar/src/tx_thread_vectored_context_save.s
  scripts/check_clang.sh
  scripts/check_gcc.sh
  scripts/check_ports.sh
Due: none

Excluded the regression-test hook code from the coverage denominator
  test/tx/cmake/coverage.sh
  test/tx/cmake/coverage_union.py
Due: .pipelines/smp.yml, .pipelines/tx.yml

Excluded the SMP regression-test hook code from the coverage figure
  test/smp/cmake/coverage.sh
  test/smp/cmake/coverage_union.py
Due: none

Fixed RISC-V regression portability failures
  test/tx/cmake/riscv/CMakeLists.txt
  test/tx/cmake/riscv/regression/CMakeLists.txt
  test/tx/regression/threadx_thread_multi_level_preemption_threshold_test.c
  test/tx/regression/threadx_trace_basic_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Fixed RISC-V regression portability failures (#773)
  test/tx/cmake/riscv/CMakeLists.txt
  test/tx/cmake/riscv/regression/CMakeLists.txt
  test/tx/regression/threadx_thread_multi_level_preemption_threshold_test.c
  test/tx/regression/threadx_trace_basic_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Linked ThreadX readers to published documentation
  README.md
Due: none

Added a script that counts Assisted-by attributions completely
  scripts/count_assisted_by.sh
Due: none

Updated ThreadX contribution guide for current workflows
  CONTRIBUTING.md
Due: none

Added visible spacing between contributor setup steps
  CONTRIBUTING.md
Due: none

Added an opt-in container options input to the regression template
  .github/workflows/regression_template.yml
Due: none

Stopped the release script adding a Co-authored-by trailer
  scripts/prepare_release.sh
Due: none

Stopped the release script adding a Co-authored-by trailer (#777)
  scripts/prepare_release.sh
Due: none

Merge commit from fork
  common_modules/module_manager/inc/txm_module_manager_dispatch.h
  common_modules/module_manager/inc/txm_module_manager_util.h
  common_modules/module_manager/src/txm_module_manager_object_deallocate.c
  common_modules/module_manager/src/txm_module_manager_thread_reset.c
  common_modules/module_manager/src/txm_module_manager_util.c
  test/tx/cmake/module_manager/CMakeLists.txt
  test/tx/module_manager/threadx_module_manager_object_authentication_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Merge commit from fork
  common_modules/module_manager/inc/txm_module_manager_dispatch.h
  common_modules/module_manager/inc/txm_module_manager_util.h
  common_modules/module_manager/src/txm_module_manager_object_deallocate.c
  common_modules/module_manager/src/txm_module_manager_util.c
  test/tx/cmake/module_manager/CMakeLists.txt
  test/tx/module_manager/threadx_module_manager_delete_ownership_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the control block ID cleared when module memory is given back
  test/tx/module_manager/threadx_module_manager_object_authentication_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Merge commit from fork
  build-all.log
  common_modules/module_lib/src/txm_module_object_deallocate.c
  common_modules/module_manager/inc/txm_module_manager_dispatch.h
  common_modules/module_manager/inc/txm_module_manager_util.h
  common_modules/module_manager/src/txm_module_manager_object_deallocate.c
  common_modules/module_manager/src/txm_module_manager_util.c
  ctest-all.log
  test/tx/cmake/module_manager/CMakeLists.txt
  test/tx/module_manager/threadx_module_manager_live_object_deallocation_test.c
  test/tx/module_manager/threadx_module_manager_object_authentication_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the control block ID cleared when module memory is given back (#779)
  test/tx/module_manager/threadx_module_manager_object_authentication_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Merge commit from fork
  common_modules/module_manager/src/txm_module_manager_object_allocate.c
  test/tx/cmake/module_manager/CMakeLists.txt
  test/tx/module_manager/threadx_module_manager_object_allocate_overflow_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Merge commit from fork
  common_modules/module_manager/inc/txm_module_manager_dispatch.h
  test/tx/cmake/module_manager/CMakeLists.txt
  test/tx/module_manager/threadx_module_manager_block_pool_parameters_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Merge commit from fork
  common_modules/module_manager/inc/txm_module_manager_dispatch.h
  common_modules/module_manager/inc/txm_module_manager_util.h
  test/tx/cmake/module_manager/CMakeLists.txt
  test/tx/module_manager/threadx_module_manager_object_name_range_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml
