Repository eclipse-threadx/threadx: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/smp.yml, .pipelines/tx.yml

Path conditions:
  .pipelines/smp.yml: any of: .pipelines/tx.yml, common_smp, samples, test/tx, utility, ports_smp/linux/gnu
  .pipelines/tx.yml: any of: .pipelines/tx.yml, common, samples, test/tx, utility, ports/linux/gnu

Aligned the simulator ports' fake stack pointer so ThreadX no longer performs misaligned ULONG accesses
  ports/linux/gnu/src/tx_thread_stack_build.c
  ports/win32/vs_2019/src/tx_thread_stack_build.c
  ports_smp/linux/gnu/src/tx_thread_stack_build.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Decorrelated the wait abort ISR test's interrupt source from the thread it samples
  test/tx/regression/threadx_thread_wait_abort_and_isr_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Fixed the simulator ports so they compile when TX_MISRA_ENABLE is defined
  ports/linux/gnu/src/tx_thread_stack_build.c
  ports/win32/vs_2019/src/tx_thread_stack_build.c
  ports/win64/vs_2022/src/tx_thread_stack_build.c
  ports_smp/linux/gnu/src/tx_thread_stack_build.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Fixed the same MISRA build break in the SMP and module manager thread create
  common_modules/module_manager/src/txm_module_manager_thread_create.c
  common_smp/src/tx_thread_create.c
Due: .pipelines/smp.yml

Covered the MISRA compliance shim's stack check and conversions
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_misra_shim_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the trace inserts in the tracing machinery's own services
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_trace_enable_trace_test.c
  test/tx/regression/threadx_trace_service_trace_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the trace object registry's name copy and reuse choice
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_trace_object_registry_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Removed the thread sleep test's unbuildable interrupt condition block
  test/tx/regression/threadx_thread_sleep_for_100ticks_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Fixed the build of tx_misra.c with MISRA and event trace enabled
  common/inc/tx_trace.h
Due: .pipelines/tx.yml

Reported coverage of the source rather than of the compiled configurations
  test/tx/cmake/coverage.sh
  test/tx/cmake/coverage_union.py
Due: .pipelines/smp.yml, .pipelines/tx.yml

Added the MISRA event trace configuration, completing the denominator
  test/tx/cmake/CMakeLists.txt
  test/tx/regression/threadx_misra_shim_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Fixed the build of tx_misra.c with MISRA and event trace enabled (#746)
  common/inc/tx_trace.h
Due: .pipelines/tx.yml

Fixed the simulator ports and thread create paths so they compile when TX_MISRA_ENABLE is defined (#742)
  common_modules/module_manager/src/txm_module_manager_thread_create.c
  common_smp/src/tx_thread_create.c
  ports/linux/gnu/src/tx_thread_stack_build.c
  ports/win32/vs_2019/src/tx_thread_stack_build.c
  ports/win64/vs_2022/src/tx_thread_stack_build.c
  ports_smp/linux/gnu/src/tx_thread_stack_build.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Decorrelated the wait abort ISR test's interrupt source from the thread it samples (#743)
  test/tx/regression/threadx_thread_wait_abort_and_isr_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Added MISRA build configurations to the ThreadX regression matrix
  test/tx/cmake/CMakeLists.txt
  test/tx/regression/threadx_test_port.h
Due: .pipelines/smp.yml, .pipelines/tx.yml

Added MISRA build configurations to the ThreadX regression matrix (#747)
  test/tx/cmake/CMakeLists.txt
  test/tx/regression/threadx_test_port.h
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the stack check's null arm by constructing an idle system
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_thread_idle_return_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the MISRA loop exits by interposing the shims they test
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/threadx_mutex_misra_prioritize_test.c
  test/tx/regression/threadx_timer_misra_loop_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Covered the byte allocate's overwritten trace entry via the port hook
  ports/linux/gnu/inc/tx_port.h
  test/tx/cmake/coverage.sh
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/cmake/samples/fake.c
  test/tx/regression/testcontrol.c
  test/tx/regression/threadx_byte_pool_trace_overwrite_test.c
  test/tx/regression/threadx_initialize_kernel_setup_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Fixed the zero trace time stamps in the Linux ports' MISRA builds
  ports/linux/gnu/inc/tx_port.h
  ports_smp/linux/gnu/inc/tx_port.h
  test/tx/regression/threadx_trace_entry_update_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Raised the coverage gate to the certified baseline figure
  test/tx/cmake/coverage.sh
Due: .pipelines/smp.yml, .pipelines/tx.yml

Pinned the regression container by digest as well as by tag
  .github/workflows/regression_template.yml
Due: none

Kept the certification branch's coverage reports for 90 days
  .github/workflows/regression_template.yml
Due: none

Fixed the zero trace time stamps in the Linux ports' MISRA builds (#749)
  ports/linux/gnu/inc/tx_port.h
  ports_smp/linux/gnu/inc/tx_port.h
  test/tx/regression/threadx_trace_entry_update_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Instrumented a sixth build configuration that defines TX_MISRA_ENABLE
  test/smp/cmake/CMakeLists.txt
  test/smp/cmake/coverage.sh
Due: none

Added the MISRA event trace configuration, completing the denominator
  test/smp/cmake/CMakeLists.txt
Due: none

Reported coverage of the source, not of the compiled configurations
  test/smp/cmake/coverage.sh
  test/smp/cmake/coverage_union.py
Due: none

Instrumented an eighth configuration for the SMP debug entry insert
  test/smp/cmake/CMakeLists.txt
  test/smp/cmake/coverage.sh
Due: none

Silenced the SMP MISRA shim's implicit conversions
  common_smp/src/tx_misra.c
Due: .pipelines/smp.yml

Disabled the retry that reported hung and failing tests as passes
  .github/workflows/regression_template.yml
Due: none

Bounded the SMP event flag ISR tests' waits for their race windows
  test/smp/regression/threadx_event_flag_isr_set_clear_test.c
  test/smp/regression/threadx_event_flag_isr_wait_abort_test.c
Due: none

Stopped the SMP Linux port losing a mutex wake-up to a suspend signal
  ports_smp/linux/gnu/inc/tx_port.h
  ports_smp/linux/gnu/src/tx_thread_schedule.c
Due: .pipelines/smp.yml

Bounded the SMP wait abort ISR test's wait for its race window
  test/smp/regression/threadx_thread_wait_abort_and_isr_test.c
Due: none

Bounded the SMP delayed suspension test's wait for its window
  test/smp/regression/threadx_thread_delayed_suspension_test.c
Due: none

Widened the SMP multiple sleep test's margin to half a sleep period
  test/smp/regression/threadx_thread_multiple_sleep_test.c
Due: none

Allowed the SMP mutex suspension timeout test a late observation
  test/smp/regression/threadx_mutex_suspension_timeout_test.c
Due: none

Gave the SMP event flag suspension timeout test its tick margin
  test/smp/regression/threadx_event_flag_suspension_timeout_test.c
Due: none

Gave the SMP timer simple test a ceiling instead of an exact count
  test/smp/regression/threadx_timer_simple_test.c
Due: none
