Repository eclipse-threadx/threadx: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/smp.yml, .pipelines/tx.yml

.pipelines/smp.yml:
  pool:
    vmImage: ubuntu-22.04
  steps:
  - task: PipAuthenticate@1
    displayName: Pip Authenticate
    inputs:
      artifactFeeds: X-Ware/X-Ware_PublicPackages
  - bash: sudo $(Build.SourcesDirectory)/scripts/install.sh
    displayName: Install softwares
  - task: Bash@3
    displayName: SDL check
    inputs:
  ...

.pipelines/tx.yml:
  pool:
    vmImage: ubuntu-22.04
  steps:
  - task: PipAuthenticate@1
    displayName: Pip Authenticate
    inputs:
      artifactFeeds: X-Ware/X-Ware_PublicPackages
  - bash: sudo $(Build.SourcesDirectory)/scripts/install.sh
    displayName: Install softwares
  - task: Bash@3
    displayName: SDL check
    inputs:
  ...

win64_smp: improve host scheduling behavior
  ports_smp/win64/vs_2022/inc/tx_port.h
  ports_smp/win64/vs_2022/src/tx_initialize_low_level.c
  ports_smp/win64/vs_2022/src/tx_thread_context_restore.c
  ports_smp/win64/vs_2022/src/tx_thread_schedule.c
  ports_smp/win64/vs_2022/src/tx_thread_smp_protect.c
  ports_smp/win64/vs_2022/src/tx_thread_stack_build.c
  ports_smp/win64/vs_2022/src/tx_thread_system_return.c
  test/smp/cmake/threadx_smp/ports_smp/win64/vs_2022/CMakeLists.txt
  test/smp/regression/testcontrol.c
Due: none

Added Win64 SMP port and fixed scheduler handoff races
  ports_smp/win64/vs_2022/CMakeLists.txt
  ports_smp/win64/vs_2022/inc/tx_port.h
  ports_smp/win64/vs_2022/readme_threadx.txt
  ports_smp/win64/vs_2022/src/tx_initialize_low_level.c
  ports_smp/win64/vs_2022/src/tx_thread_context_restore.c
  ports_smp/win64/vs_2022/src/tx_thread_context_save.c
  ports_smp/win64/vs_2022/src/tx_thread_interrupt_control.c
  ports_smp/win64/vs_2022/src/tx_thread_schedule.c
  ports_smp/win64/vs_2022/src/tx_thread_smp_core_get.c
  ports_smp/win64/vs_2022/src/tx_thread_smp_core_preempt.c
  ports_smp/win64/vs_2022/src/tx_thread_smp_current_state_get.c
  ports_smp/win64/vs_2022/src/tx_thread_smp_current_thread_get.c
  ports_smp/win64/vs_2022/src/tx_thread_smp_initialize_wait.c
  ports_smp/win64/vs_2022/src/tx_thread_smp_low_level_initialize.c
  ports_smp/win64/vs_2022/src/tx_thread_smp_protect.c
  ports_smp/win64/vs_2022/src/tx_thread_smp_time_get.c
  ports_smp/win64/vs_2022/src/tx_thread_smp_unprotect.c
  ports_smp/win64/vs_2022/src/tx_thread_stack_build.c
  ports_smp/win64/vs_2022/src/tx_thread_system_return.c
  ports_smp/win64/vs_2022/src/tx_timer_interrupt.c
  scripts/build_smp.ps1
  scripts/test_smp.ps1
  test/shared/regression/testcontrol_weak_defaults.c
  test/smp/cmake/CMakeLists.txt
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/cmake/regression/generate_test_file.cmake
  test/smp/cmake/threadx_smp/CMakeLists.txt
  test/smp/cmake/threadx_smp/ports_smp/win64/vs_2022/CMakeLists.txt
Due: none

fix(win64): improved timer precision and host thread teardown
  ports/win64/vs_2022/inc/tx_port.h
  ports/win64/vs_2022/src/tx_initialize_low_level.c
Due: none

fix(win64): synchronized host thread startup
  ports/win64/vs_2022/src/tx_thread_stack_build.c
Due: none

test(windows): added clean CTest runs and dev shell reuse
  scripts/test_smp.ps1
  scripts/test_tx.ps1
  scripts/tx_windows_common.ps1
Due: none

perf(win64_smp): reduced Windows regression runtime
  ports_smp/win64/vs_2022/inc/tx_port.h
  ports_smp/win64/vs_2022/src/tx_initialize_low_level.c
  ports_smp/win64/vs_2022/src/tx_thread_schedule.c
  ports_smp/win64/vs_2022/src/tx_thread_stack_build.c
  ports_smp/win64/vs_2022/src/tx_thread_system_return.c
  scripts/build_smp.ps1
  scripts/test_smp.ps1
Due: none

chore(windows): updated port versions and comment formatting
  ports/win32/vs_2019/inc/tx_port.h
  ports/win64/vs_2022/inc/tx_port.h
  ports_smp/win64/vs_2022/inc/tx_port.h
Due: none

test(regression): removed stale Windows accommodations
  test/smp/regression/threadx_event_flag_isr_set_clear_test.c
  test/smp/regression/threadx_event_flag_suspension_timeout_test.c
  test/tx/regression/testcontrol.c
  test/tx/regression/threadx_event_flag_isr_set_clear_test.c
  test/tx/regression/threadx_thread_sleep_for_100ticks_test.c
  test/tx/regression/threadx_timer_multiple_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

gitignore: exclude build_m7/ and .codex local artifacts
  .gitignore
Due: none

ci: disable RISC-V regression job (re-enable when ready)
  .github/workflows/regression_test.yml
Due: none

risc-v32: fix lazy FPU and mepc bugs; consolidate cmake and -Wconversion
  ports/risc-v32/clang/CMakeLists.txt
  ports/risc-v32/gnu/CMakeLists.txt
  ports/risc-v32/gnu/src/tx_thread_schedule.S
  ports/risc-v32/gnu/src/tx_thread_system_return.S
  ports/risc-v64/gnu/CMakeLists.txt
  test/tx/cmake/riscv/CMakeLists.txt
Due: .pipelines/smp.yml, .pipelines/tx.yml

risc-v64: fix 64-bit pointer compatibility; update test cmake for win64 merge
  ports/risc-v64/gnu/inc/tx_port.h
  test/tx/cmake/riscv/regression/CMakeLists.txt
  test/tx/regression/threadx_thread_basic_execution_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

fix(regression): fix weak symbol linker errors in Linux and SMP regression builds
  test/smp/cmake/regression/CMakeLists.txt
  test/tx/cmake/regression/CMakeLists.txt
Due: .pipelines/smp.yml, .pipelines/tx.yml

fix(cmake): use Ubuntu riscv64-unknown-elf for rv32imc toolchain
  cmake/riscv64-gcc-rv32imc.cmake
Due: none

fix(core_v_mcu): add portable __clzsi2 fallback; use PATH-resolved toolchain
  cmake/riscv64-gcc-rv32imc.cmake
  ports/risc-v32/gnu/example_build/core_v_mcu/CMakeLists.txt
  ports/risc-v32/gnu/example_build/core_v_mcu/bsp/clz.c
Due: none

fix(core_v_mcu): suppress false-positive CMAKE_TOOLCHAIN_FILE warning
  ports/risc-v32/gnu/example_build/core_v_mcu/CMakeLists.txt
Due: none

cmake: rename rv32 toolchain file to riscv32-unknown-elf-rv32imc.cmake
  cmake/riscv32-unknown-elf-rv32imc.cmake
  cmake/riscv64-gcc-rv32imc.cmake
  ports/risc-v32/gnu/example_build/core_v_mcu/README.md
  ports/risc-v32/gnu/example_build/core_v_mcu/build.sh
Due: none

fix(core_v_mcu): remove clz.c workaround; use riscv32-unknown-elf toolchain
  ports/risc-v32/gnu/example_build/core_v_mcu/CMakeLists.txt
  ports/risc-v32/gnu/example_build/core_v_mcu/bsp/clz.c
Due: none

risc-v32: add riscv-none-elf-rv32imc toolchain file for xPack
  cmake/riscv-none-elf-rv32imc.cmake
  cmake/riscv32-unknown-elf-rv32imc.cmake
  cmake/riscv64-gcc-rv32imc.cmake
  ports/risc-v32/gnu/example_build/core_v_mcu/README.md
  ports/risc-v32/gnu/example_build/core_v_mcu/build.sh
  ports/risc-v32/gnu/example_build/core_v_mcu/install_deps.sh
Due: none

cmake: fixed THREADX_ARCH undefined when building as standalone library
  CMakeLists.txt
Due: none

Added a release preparation script
  scripts/prepare_release.sh
Due: none

Updated version number constants
  common/inc/tx_api.h
Due: .pipelines/tx.yml

Added a release preparation script (#542)
  scripts/prepare_release.sh
Due: none

Fix nested comment warning in RX GCC ports
  ports/rxv1/gnu/src/tx_thread_context_save.S
  ports/rxv2/gnu/src/tx_thread_context_save.S
  ports/rxv3/gnu/src/tx_thread_context_save.S
Due: none

Fixed #else replaced with #endif in tx_port.h for cortex_m3/m4/m7 gnu/ac6/iar ports
  ports/cortex_m3/ac6/inc/tx_port.h
  ports/cortex_m3/gnu/example_build/build_threadx.sh
  ports/cortex_m3/gnu/example_build/build_threadx_sample.sh
  ports/cortex_m3/iar/inc/tx_port.h
  ports/cortex_m4/ac6/inc/tx_port.h
  ports/cortex_m4/gnu/example_build/build_threadx.sh
  ports/cortex_m4/gnu/example_build/build_threadx_sample.sh
  ports/cortex_m4/gnu/inc/tx_port.h
  ports/cortex_m4/iar/inc/tx_port.h
  ports/cortex_m7/ac6/inc/tx_port.h
  ports/cortex_m7/gnu/example_build/build_threadx.sh
  ports/cortex_m7/gnu/example_build/build_threadx_sample.sh
  ports/cortex_m7/gnu/inc/tx_port.h
  ports/cortex_m7/iar/inc/tx_port.h
Due: none

Fixed missing linker script symbols in cortex_m4/gnu example_build
  ports/cortex_m4/gnu/example_build/sample_threadx.ld
Due: none

Added Linux build scripts and fixed path bug in cortex_m23 for all ports changed between v6.5.0 and v6.5.1
  ports/arm11/gnu/example_build/build_threadx.sh
  ports/arm11/gnu/example_build/build_threadx_sample.sh
  ports/arm9/gnu/example_build/build_threadx.sh
  ports/arm9/gnu/example_build/build_threadx_sample.sh
  ports/cortex_a12/gnu/example_build/build_threadx.sh
  ports/cortex_a12/gnu/example_build/build_threadx_sample.sh
  ports/cortex_a15/gnu/example_build/build_threadx.sh
  ports/cortex_a15/gnu/example_build/build_threadx_sample.sh
  ports/cortex_a17/gnu/example_build/build_threadx.sh
  ports/cortex_a17/gnu/example_build/build_threadx_sample.sh
  ports/cortex_a5/gnu/example_build/build_threadx.sh
  ports/cortex_a5/gnu/example_build/build_threadx_sample.sh
  ports/cortex_a7/gnu/example_build/build_threadx.sh
  ports/cortex_a7/gnu/example_build/build_threadx_sample.sh
  ports/cortex_a8/gnu/example_build/build_threadx.sh
  ports/cortex_a8/gnu/example_build/build_threadx_sample.sh
  ports/cortex_a9/gnu/example_build/build_threadx.sh
  ports/cortex_a9/gnu/example_build/build_threadx_sample.sh
  ports/cortex_m0/gnu/example_build/build_threadx.sh
  ports/cortex_m0/gnu/example_build/build_threadx_sample.sh
  ports/cortex_m23/gnu/example_build/build_threadx.sh
  ports/cortex_m33/gnu/example_build/build_threadx.sh
  ports/cortex_m55/gnu/example_build/build_threadx.sh
  ports/cortex_m85/gnu/example_build/build_threadx.sh
  ports/cortex_r4/gnu/example_build/build_threadx.sh
  ports/cortex_r4/gnu/example_build/build_threadx_sample.sh
  ports/cortex_r5/gnu/example_build/build_threadx.sh
  ports/cortex_r5/gnu/example_build/build_threadx_sample.sh
Due: none

add lazy FPU stacking to context save/restore
  ports/risc-v64/gnu/src/tx_thread_context_restore.S
  ports/risc-v64/gnu/src/tx_thread_context_save.S
Due: none

Fix nested comment warning in RX GCC ports (#550)
  ports/rxv1/gnu/src/tx_thread_context_save.S
  ports/rxv2/gnu/src/tx_thread_context_save.S
  ports/rxv3/gnu/src/tx_thread_context_save.S
Due: none

Fixed SMP execution profile total getters
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/execution_profile_test/tx_api.h
  test/smp/regression/threadx_smp_execution_profile_get_test.c
  utility/execution_profile_kit/smp_version/tx_execution_profile.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Path conditions:
  .pipelines/smp.yml: any of: .pipelines/tx.yml, common_smp, samples, test/tx, utility, ports_smp/linux/gnu
  .pipelines/tx.yml: any of: .pipelines/tx.yml, common, samples, test/tx, utility, ports/linux/gnu
