Repository eclipse-threadx/threadx: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/smp.yml, .pipelines/tx.yml

.pipelines/smp.yml:
  pool:
    vmImage: ubuntu-22.04
  steps:
  - task: PipAuthenticate@1
    displayName: Pip Authenticate
    inputs:
      artifactFeeds: X-Ware/X-Ware_PublicPackages
  - bash: sudo $(Build.SourcesDirectory)/scripts/install.sh
    displayName: Install softwares
  - task: Bash@3
    displayName: SDL check
    inputs:
  ...

.pipelines/tx.yml:
  pool:
    vmImage: ubuntu-22.04
  steps:
  - task: PipAuthenticate@1
    displayName: Pip Authenticate
    inputs:
      artifactFeeds: X-Ware/X-Ware_PublicPackages
  - bash: sudo $(Build.SourcesDirectory)/scripts/install.sh
    displayName: Install softwares
  - task: Bash@3
    displayName: SDL check
    inputs:
  ...

Fix the typos
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/testcontrol.c
  test/smp/regression/threadx_mutex_information_test.c
  test/smp/regression/threadx_mutex_nested_priority_inheritance_test.c
  test/smp/regression/threadx_smp_resume_suspend_accending_order_test.c
  test/smp/regression/threadx_smp_resume_suspend_decending_order_test.c
  test/smp/regression/threadx_thread_basic_execution_test.c
  test/smp/regression/threadx_thread_delayed_suspension_test.c
  test/smp/regression/threadx_thread_simple_suspend_test.c
  test/smp/regression/threadx_thread_sleep_for_100ticks_test.c
  test/smp/regression/threadx_thread_terminate_delete_test.c
  test/tx/regression/testcontrol.c
  test/tx/regression/threadx_mutex_information_test.c
  test/tx/regression/threadx_mutex_nested_priority_inheritance_test.c
  test/tx/regression/threadx_thread_basic_execution_test.c
  test/tx/regression/threadx_thread_delayed_suspension_test.c
  test/tx/regression/threadx_thread_simple_suspend_test.c
  test/tx/regression/threadx_thread_sleep_for_100ticks_test.c
  test/tx/regression/threadx_thread_terminate_delete_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Drop unintended binary blobs
  ports/arm11/gnu/example_build/libnosys.a
  ports_module/cortex_m0+/gnu/example_build/sample_threadx_module_manager/libgcc.a
  ports_module/cortex_m3/iar/example_build/stm32f2xx_library.a
Due: none

Fix first system tick delay on Cortex-M0
  ports/cortex_m0/ac5/example_build/tx_initialize_low_level.s
  ports/cortex_m0/gnu/example_build/tx_initialize_low_level.S
  ports/cortex_m0/iar/example_build/tx_initialize_low_level.s
  ports/cortex_m0/keil/example_build/tx_initialize_low_level.s
Due: none

Use the '--toolchain' option for CMake
  README.md
Due: none

Increase minimum required CMake version
  CMakeLists.txt
Due: none

Refine the comment
  utility/rtos_compatibility_layers/posix/px_cond_signal.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

CI: Bump Arm GNU Toolchain
  .github/workflows/ci_cortex_m.yml
Due: none

CI: Bump dependency
  .github/workflows/ports_arch_check.yml
  .github/workflows/regression_test.yml
Due: none

Added missing CMakeLists.txt for Renesas RX ports
  ports/rxv1/ccrx/CMakeLists.txt
  ports/rxv1/gnu/CMakeLists.txt
  ports/rxv2/ccrx/CMakeLists.txt
  ports/rxv3/ccrx/CMakeLists.txt
  ports/rxv3/gnu/CMakeLists.txt
Due: none

Two basic structures for consideration
  CMakeLists.txt
  common/CMakeLists.txt
  common/inc/tx_api.h
  common/src/tx_thread_resume.c
  common/src/tx_thread_suspend.c
  common/src/tx_thread_suspend_resume_extension.c
  common/src/tx_thread_system_resume.c
  common/src/tx_thread_system_suspend.c
  custom_tx_user.h
Due: .pipelines/tx.yml

Add file analysis results to README
  README.md
Due: none

Upgrading upload-artifact version to 4.6.0.
  .github/workflows/regression_template.yml
Due: none

Updated version number to 6.4.2.
  common/inc/tx_api.h
  common_smp/inc/tx_api.h
Due: .pipelines/smp.yml, .pipelines/tx.yml

Updated CMake minimal version to 3.13
  CMakeLists.txt
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/cmake/samples/CMakeLists.txt
  test/smp/cmake/threadx_smp/CMakeLists.txt
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/cmake/samples/CMakeLists.txt
Due: .pipelines/smp.yml, .pipelines/tx.yml

Make queue max message size configurable
  common/inc/tx_api.h
  common/inc/tx_user_sample.h
  common/src/txe_queue_create.c
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/testcontrol.c
  test/tx/cmake/CMakeLists.txt
  test/tx/cmake/regression/CMakeLists.txt
  test/tx/regression/testcontrol.c
  test/tx/regression/threadx_queue_basic_max_message_size_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

basic processing case shows no results with O2
  utility/benchmarks/thread_metric/tm_basic_processing_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Add RISC-V64 CI workflow for BPI-F3 support
  .github/workflows/ci_riscv64.yml
Due: none

Remove ninja setup action as it's already available on GitHub runners
  .github/workflows/ci_riscv64.yml
Due: none

docs: resolve merge conflicts in RISC-V 32-bit GNU port files
  ports/risc-v32/gnu/inc/tx_port.h
  ports/risc-v32/gnu/src/tx_initialize_low_level.S
  ports/risc-v32/gnu/src/tx_thread_context_restore.S
  ports/risc-v32/gnu/src/tx_thread_context_save.S
  ports/risc-v32/gnu/src/tx_thread_interrupt_control.S
  ports/risc-v32/gnu/src/tx_thread_schedule.S
  ports/risc-v32/gnu/src/tx_thread_stack_build.S
  ports/risc-v32/gnu/src/tx_thread_system_return.S
  ports/risc-v32/gnu/src/tx_timer_interrupt.S
Due: none

feat: implement Lazy FPU Stacking and Vector Table
  ports/risc-v32/gnu/src/tx_initialize_low_level.S
  ports/risc-v32/gnu/src/tx_thread_context_restore.S
  ports/risc-v32/gnu/src/tx_thread_context_save.S
  ports/risc-v32/gnu/src/tx_thread_schedule.S
  ports/risc-v32/gnu/src/tx_thread_stack_build.S
  ports/risc-v32/gnu/src/tx_thread_system_return.S
Due: none

Implement WFI for Idle Loops and Enforce Shadow Stack Alignment
  ports/risc-v32/gnu/src/tx_initialize_low_level.S
  ports/risc-v32/gnu/src/tx_thread_schedule.S
Due: none

feat: add RISC-V QEMU demo support and fix assembly implementation
  CMakeLists.txt
  ports/risc-v32/gnu/example_build/qemu_virt/entry.s
  ports/risc-v32/gnu/example_build/qemu_virt/link.lds
  ports/risc-v32/gnu/example_build/qemu_virt/output.log
  ports/risc-v32/gnu/example_build/qemu_virt/tx_initialize_low_level.S
  ports/risc-v32/gnu/src/tx_initialize_low_level.S
  ports/risc-v32/gnu/src/tx_thread_context_restore.S
Due: none

Enable GP Relaxation optimization
  cmake/riscv32_gnu.cmake
  ports/risc-v32/gnu/example_build/qemu_virt/entry.s
Due: none

feat: use macros for stack offsets and enhance verification framework
  build_qemu/test_cmds.gdb
  ports/risc-v32/gnu/inc/tx_port.h
  ports/risc-v32/gnu/src/tx_initialize_low_level.S
  ports/risc-v32/gnu/src/tx_thread_context_restore.S
  ports/risc-v32/gnu/src/tx_thread_context_save.S
  ports/risc-v32/gnu/src/tx_thread_schedule.S
  ports/risc-v32/gnu/src/tx_thread_stack_build.S
  ports/risc-v32/gnu/src/tx_thread_system_return.S
  test/ports/azrtos_test_tx_gnu_riscv32_qemu.py
Due: none

Optimize stack management and update QEMU port
  ports/risc-v32/gnu/inc/tx_port.h
  ports/risc-v32/gnu/src/tx_initialize_low_level.S
  ports/risc-v32/gnu/src/tx_thread_context_restore.S
  ports/risc-v32/gnu/src/tx_thread_context_save.S
  ports/risc-v32/gnu/src/tx_thread_interrupt_control.S
  ports/risc-v32/gnu/src/tx_thread_schedule.S
  ports/risc-v32/gnu/src/tx_thread_stack_build.S
  ports/risc-v32/gnu/src/tx_thread_system_return.S
  ports/risc-v32/gnu/src/tx_timer_interrupt.S
Due: none

fix preemption logic and interrupt context restore
  ports/risc-v32/gnu/example_build/qemu_virt/demo_threadx.c
  ports/risc-v32/gnu/src/tx_thread_context_restore.S
  test/ports/azrtos_test_tx_gnu_riscv32_qemu.py
Due: none

build: stop tracking build_qemu directory and update copyright headers
  .gitignore
  build_qemu/CPackConfig.cmake
  build_qemu/CPackSourceConfig.cmake
  build_qemu/custom_inc/tx_user.h
  build_qemu/kernel.elf
  build_qemu/test_cmds.gdb
  ports/risc-v32/gnu/example_build/qemu_virt/tx_initialize_low_level.S
  ports/risc-v32/gnu/inc/tx_port.h
Due: none

delete output log file
  ports/risc-v32/gnu/example_build/qemu_virt/output.log
Due: none

fix(ports): move tx_initialize_low_level.S to example_build for Cortex-M33/M55/M85 GNU (#452)
  ports/cortex_m33/gnu/CMakeLists.txt
  ports/cortex_m33/gnu/example_build/sample_threadx.c
  ports/cortex_m33/gnu/example_build/tx_initialize_low_level.S
  ports/cortex_m55/gnu/CMakeLists.txt
  ports/cortex_m55/gnu/example_build/sample_threadx.c
  ports/cortex_m55/gnu/example_build/tx_initialize_low_level.S
  ports/cortex_m85/gnu/CMakeLists.txt
  ports/cortex_m85/gnu/example_build/sample_threadx.c
  ports/cortex_m85/gnu/example_build/tx_initialize_low_level.S
Due: none

Add LX8 support for > 32 interrupts
  ports/xtensa/xcc/inc/xtensa_context.h
  ports/xtensa/xcc/inc/xtensa_rtos.h
  ports/xtensa/xcc/inc/xtensa_timer.h
  ports/xtensa/xcc/readme_threadx.txt
  ports/xtensa/xcc/src/tx_clib_lock.c
  ports/xtensa/xcc/src/tx_initialize_low_level.c
  ports/xtensa/xcc/src/xtensa_context.S
  ports/xtensa/xcc/src/xtensa_intr.c
  ports/xtensa/xcc/src/xtensa_intr_asm.S
  ports/xtensa/xcc/src/xtensa_vectors.S
Due: none

ThreadX: Fix context switch logic
  ports/xtensa/xcc/src/tx_thread_schedule.S
  ports/xtensa/xcc/src/tx_thread_system_return.S
Due: none

ThreadX: Interrupt fixes for TX_ENABLE_EXECUTION_CHANGE_NOTIFY
  ports/xtensa/xcc/inc/xtensa_context.h
  ports/xtensa/xcc/src/tx_thread_schedule.S
  ports/xtensa/xcc/src/tx_thread_system_return.S
  ports/xtensa/xcc/src/xtensa_intr.c
  ports/xtensa/xcc/src/xtensa_intr_asm.S
  ports/xtensa/xcc/src/xtensa_vectors.S
Due: none

ThreadX: Support for __DYNAMIC_REENT__
  ports/xtensa/xcc/src/tx_clib_lock.c
Due: none

Fixed MPIE being cleared leading to have interrupts being disable when returning from machine mode
  ports/risc-v64/gnu/src/tx_thread_context_restore.S
Due: none

Path conditions:
  .pipelines/smp.yml: any of: .pipelines/tx.yml, common_smp, samples, test/tx, utility, ports_smp/linux/gnu
  .pipelines/tx.yml: any of: .pipelines/tx.yml, common, samples, test/tx, utility, ports/linux/gnu
