Repository eclipse-threadx/threadx: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/smp.yml, .pipelines/tx.yml

Path conditions:
  .pipelines/smp.yml: any of: .pipelines/tx.yml, common_smp, samples, test/tx, utility, ports_smp/linux/gnu
  .pipelines/tx.yml: any of: .pipelines/tx.yml, common, samples, test/tx, utility, ports/linux/gnu

Merge commit from fork
  common_modules/module_manager/inc/txm_module_manager_dispatch.h
  test/tx/cmake/module_manager/CMakeLists.txt
  test/tx/module_manager/threadx_module_manager_queue_message_range_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Merge commit from fork
  common_modules/module_manager/inc/txm_module_manager_util.h
  ports_module/cortex_a7/ac5/example_build/build_threadx.bat
  ports_module/cortex_a7/ac5/inc/txm_module_port.h
  ports_module/cortex_a7/ac5/module_manager/src/txm_module_manager_inside_data_check.c
  ports_module/cortex_a7/ac5/module_manager/src/txm_module_manager_mm_register_setup.c
  ports_module/cortex_a7/gnu/example_build/build_threadx.bat
  ports_module/cortex_a7/gnu/inc/txm_module_port.h
  ports_module/cortex_a7/gnu/module_manager/src/txm_module_manager_inside_data_check.c
  ports_module/cortex_a7/gnu/module_manager/src/txm_module_manager_mm_register_setup.c
  ports_module/cortex_a7/iar/example_build/tx.ewp
  ports_module/cortex_a7/iar/inc/txm_module_port.h
  ports_module/cortex_a7/iar/module_manager/src/txm_module_manager_inside_data_check.c
  ports_module/cortex_a7/iar/module_manager/src/txm_module_manager_mm_register_setup.c
  scripts/check_module_mmu_a7.sh
  test/tx/cmake/module_manager/CMakeLists.txt
  test/tx/module_manager/threadx_module_manager_cortex_a7_mmu_test.c
  test/tx/module_manager/threadx_module_manager_cortex_a7_range_check_test.c
  test/tx/module_manager/threadx_module_manager_delete_ownership_test.c
  test/tx/module_manager/threadx_module_manager_live_object_deallocation_test.c
  test/tx/module_manager/threadx_module_manager_object_allocate_overflow_test.c
  test/tx/module_manager/threadx_module_manager_object_authentication_test.c
  test/tx/module_manager/threadx_module_manager_thread_kernel_stack_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Exempted Markdown from the near-miss disclosure check
  scripts/check_ai_disclosure.sh
Due: none

Corrected the trailer command named in the disclosure check
  scripts/check_ai_disclosure.sh
Due: none

Normalised the disclosure lines that landed after this branch
  common_modules/module_lib/src/txm_module_object_deallocate.c
  common_modules/module_manager/inc/txm_module_manager_dispatch.h
  common_modules/module_manager/inc/txm_module_manager_util.h
  common_modules/module_manager/src/txm_module_manager_object_allocate.c
  common_modules/module_manager/src/txm_module_manager_object_deallocate.c
  common_modules/module_manager/src/txm_module_manager_thread_reset.c
  common_modules/module_manager/src/txm_module_manager_util.c
  ports_module/cortex_a7/ac5/inc/txm_module_port.h
  ports_module/cortex_a7/ac5/module_manager/src/txm_module_manager_mm_register_setup.c
  ports_module/cortex_a7/gnu/inc/txm_module_port.h
  ports_module/cortex_a7/gnu/module_manager/src/txm_module_manager_mm_register_setup.c
  ports_module/cortex_a7/iar/inc/txm_module_port.h
  ports_module/cortex_a7/iar/module_manager/src/txm_module_manager_mm_register_setup.c
Due: none

Stopped the SMP Linux port losing a mutex wake-up to a suspend signal (#753)
  ports_smp/linux/gnu/inc/tx_port.h
  ports_smp/linux/gnu/src/tx_thread_schedule.c
Due: .pipelines/smp.yml

Stopped the Linux port losing a mutex wake-up to a suspend signal (#754)
  ports/linux/gnu/inc/tx_port.h
  ports/linux/gnu/src/tx_thread_schedule.c
Due: .pipelines/tx.yml

Stopped tx_thread_relinquish discarding the rebalance it requests (#758)
  common_smp/src/tx_thread_relinquish.c
  test/smp/cmake/regression/CMakeLists.txt
  test/smp/regression/threadx_smp_relinquish_rebalance_test.c
Due: .pipelines/smp.yml

Stopped the SMP Linux port leaking a critical section on unprotect (#759)
  ports_smp/linux/gnu/src/tx_thread_smp_unprotect.c
Due: .pipelines/smp.yml

Made the SMP pt test's randomised phase set preemption thresholds (#760)
  test/smp/regression/threadx_smp_random_resume_suspend_exclusion_pt_test.c
Due: none

Enabled execution profiling for Cortex-R5 (#766)
  ports/cortex_r5/ac5/src/tx_thread_context_restore.s
  ports/cortex_r5/ac5/src/tx_thread_context_save.s
  ports/cortex_r5/ac5/src/tx_thread_fiq_context_restore.s
  ports/cortex_r5/ac5/src/tx_thread_fiq_context_save.s
  ports/cortex_r5/ac5/src/tx_thread_schedule.s
  ports/cortex_r5/ac5/src/tx_thread_system_return.s
  ports/cortex_r5/ac5/src/tx_thread_vectored_context_save.s
  ports/cortex_r5/ac6/src/tx_thread_context_restore.S
  ports/cortex_r5/ac6/src/tx_thread_context_save.S
  ports/cortex_r5/ac6/src/tx_thread_fiq_context_restore.S
  ports/cortex_r5/ac6/src/tx_thread_fiq_context_save.S
  ports/cortex_r5/ac6/src/tx_thread_schedule.S
  ports/cortex_r5/ac6/src/tx_thread_system_return.S
  ports/cortex_r5/ac6/src/tx_thread_vectored_context_save.S
  ports/cortex_r5/ghs/src/tx_thread_context_restore.arm
  ports/cortex_r5/ghs/src/tx_thread_context_save.arm
  ports/cortex_r5/ghs/src/tx_thread_fiq_context_restore.arm
  ports/cortex_r5/ghs/src/tx_thread_fiq_context_save.arm
  ports/cortex_r5/ghs/src/tx_thread_schedule.arm
  ports/cortex_r5/ghs/src/tx_thread_system_return.arm
  ports/cortex_r5/ghs/src/tx_thread_vectored_context_save.arm
  ports/cortex_r5/gnu/src/tx_thread_context_restore.S
  ports/cortex_r5/gnu/src/tx_thread_context_save.S
  ports/cortex_r5/gnu/src/tx_thread_fiq_context_restore.S
  ports/cortex_r5/gnu/src/tx_thread_fiq_context_save.S
  ports/cortex_r5/gnu/src/tx_thread_schedule.S
  ports/cortex_r5/gnu/src/tx_thread_system_return.S
  ports/cortex_r5/gnu/src/tx_thread_vectored_context_save.S
  ports/cortex_r5/iar/src/tx_thread_context_restore.s
  ports/cortex_r5/iar/src/tx_thread_context_save.s
  ports/cortex_r5/iar/src/tx_thread_schedule.s
  ports/cortex_r5/iar/src/tx_thread_system_return.s
  ports/cortex_r5/iar/src/tx_thread_vectored_context_save.s
  scripts/check_clang.sh
  scripts/check_gcc.sh
  scripts/check_ports.sh
Due: none

Added a blame ignore list for the mechanical header and version passes (#763)
  .git-blame-ignore-revs
Due: none

Linked ThreadX readers to published documentation (#774)
  README.md
Due: none

Added a script that counts Assisted-by attributions completely (#775)
  scripts/count_assisted_by.sh
Due: none

Extended the const object names to code added since the branch
  common_modules/module_manager/inc/txm_module_manager_util.h
  common_modules/module_manager/src/txm_module_manager_util.c
  test/tx/module_manager/threadx_module_manager_block_pool_parameters_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Preserved const through the trace object name conversion
  common/inc/tx_api.h
  common/src/tx_misra.c
  common/src/tx_trace_object_register.c
  common_smp/inc/tx_api.h
  common_smp/src/tx_misra.c
  common_smp/src/tx_trace_object_register.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Made the const object names opt-in for this release
  common/inc/tx_api.h
  common/inc/tx_user_sample.h
  common_smp/inc/tx_api.h
  common_smp/inc/tx_user_sample.h
Due: .pipelines/smp.yml, .pipelines/tx.yml

Silenced the SMP MISRA shim's implicit conversions (#751)
  common_smp/src/tx_misra.c
Due: .pipelines/smp.yml

Updated ThreadX contribution guide for current workflows (#776)
  CONTRIBUTING.md
Due: none

Updated version number constants
  common/inc/tx_api.h
Due: .pipelines/tx.yml

Added the release and disclosure passes to the blame ignore list
  .git-blame-ignore-revs
Due: none

Added the release and disclosure passes to the blame ignore list (#782)
  .git-blame-ignore-revs
Due: none

Removed the Cortex-M asides from the Cortex-R52 module port
  ports_module/cortex_r52/gnu/example_build/fvp_baser_aemv8r/txm_module_preamble.S
  ports_module/cortex_r52/gnu/example_build/s32z280_evb/txm_module_preamble.S
  ports_module/cortex_r52/gnu/module_manager/src/txm_module_manager_fault_capture.S
  ports_module/cortex_r52/gnu/module_manager/src/txm_module_manager_memory_fault_handler.c
Due: none

Stopped the version pass skipping ports in silence
  ports/risc-v32/iar/inc/tx_port.h
  scripts/prepare_release.sh
Due: none

Stopped the version pass skipping ports in silence (#786)
  ports/risc-v32/iar/inc/tx_port.h
  scripts/prepare_release.sh
Due: none

Added an Erbium example to the RISC-V64 GNU port
  ports/risc-v64/gnu/example_build/erbium/CMakeLists.txt
  ports/risc-v64/gnu/example_build/erbium/README.md
  ports/risc-v64/gnu/example_build/erbium/board.c
  ports/risc-v64/gnu/example_build/erbium/build.sh
  ports/risc-v64/gnu/example_build/erbium/csr.h
  ports/risc-v64/gnu/example_build/erbium/demo_threadx.c
  ports/risc-v64/gnu/example_build/erbium/entry.S
  ports/risc-v64/gnu/example_build/erbium/erbium_gnu.cmake
  ports/risc-v64/gnu/example_build/erbium/hwtimer.c
  ports/risc-v64/gnu/example_build/erbium/hwtimer.h
  ports/risc-v64/gnu/example_build/erbium/link.lds
  ports/risc-v64/gnu/example_build/erbium/plic.c
  ports/risc-v64/gnu/example_build/erbium/plic.h
  ports/risc-v64/gnu/example_build/erbium/trap.c
  ports/risc-v64/gnu/example_build/erbium/tx_initialize_low_level.S
  ports/risc-v64/gnu/example_build/erbium/uart.c
  ports/risc-v64/gnu/example_build/erbium/uart.h
Due: none

Added simulator tests for Erbium interrupt regressions
  ports/risc-v64/gnu/example_build/erbium/CMakeLists.txt
  ports/risc-v64/gnu/example_build/erbium/test/run_simulator_tests.sh
  ports/risc-v64/gnu/example_build/erbium/test/test_plic_race.c
  ports/risc-v64/gnu/example_build/erbium/test/test_plic_trap.c
  ports/risc-v64/gnu/example_build/erbium/test/test_uart_ticks.c
Due: none

Fixed Erbium interrupt masking and PLIC update races
  ports/risc-v64/gnu/example_build/erbium/README.md
  ports/risc-v64/gnu/example_build/erbium/plic.c
  ports/risc-v64/gnu/example_build/erbium/uart.c
Due: none

Stopped the RISC-V install pulling a desktop media stack
  scripts/install_riscv.sh
Due: none

Made the install step timeout a template input
  .github/workflows/regression_template.yml
Due: none

Stopped the Linux port losing a mutex wake-up to a suspend signal
  ports/linux/gnu/inc/tx_port.h
  ports/linux/gnu/src/tx_thread_schedule.c
Due: .pipelines/tx.yml

Made the install step timeout a template input (#790)
  .github/workflows/regression_template.yml
Due: none
