Repository eclipse-threadx/threadx: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/smp.yml, .pipelines/tx.yml

.pipelines/smp.yml:
  pool:
    vmImage: ubuntu-22.04
  steps:
  - task: PipAuthenticate@1
    displayName: Pip Authenticate
    inputs:
      artifactFeeds: X-Ware/X-Ware_PublicPackages
  - bash: sudo $(Build.SourcesDirectory)/scripts/install.sh
    displayName: Install softwares
  - task: Bash@3
    displayName: SDL check
    inputs:
  ...

.pipelines/tx.yml:
  pool:
    vmImage: ubuntu-22.04
  steps:
  - task: PipAuthenticate@1
    displayName: Pip Authenticate
    inputs:
      artifactFeeds: X-Ware/X-Ware_PublicPackages
  - bash: sudo $(Build.SourcesDirectory)/scripts/install.sh
    displayName: Install softwares
  - task: Bash@3
    displayName: SDL check
    inputs:
  ...

Enabled BTCM and measured what it offers as a data store
  ports/cortex_r52/gnu/example_build/s32z280_evb/bsp_boot.c
  ports/cortex_r52/gnu/example_build/s32z280_evb/entry.S
  ports/cortex_r52/gnu/example_build/s32z280_evb/mpu.c
Due: none

Put a ThreadX thread stack in BTCM
  ports/cortex_r52/gnu/example_build/s32z280_evb/demo_s32z280.c
  ports/cortex_r52/gnu/example_build/s32z280_evb/entry.S
  ports/cortex_r52/gnu/example_build/s32z280_evb/link.lds
Due: none

Enabled BTCM, measured it, and put a ThreadX thread stack in it (#634)
  ports/cortex_r52/gnu/example_build/s32z280_evb/bsp_boot.c
  ports/cortex_r52/gnu/example_build/s32z280_evb/demo_s32z280.c
  ports/cortex_r52/gnu/example_build/s32z280_evb/entry.S
  ports/cortex_r52/gnu/example_build/s32z280_evb/link.lds
  ports/cortex_r52/gnu/example_build/s32z280_evb/mpu.c
Due: none

Measured context-switch cost against the memory holding the stack
  ports/cortex_r52/gnu/example_build/s32z280_evb/demo_s32z280.c
Due: none

Measured context-switch cost against the memory holding the stack (#635)
  ports/cortex_r52/gnu/example_build/s32z280_evb/demo_s32z280.c
Due: none

Measured stack-heavy work against the memory holding the stack
  ports/cortex_r52/gnu/example_build/s32z280_evb/demo_s32z280.c
Due: none

Measured stack-heavy work against the memory holding the stack (#636)
  ports/cortex_r52/gnu/example_build/s32z280_evb/demo_s32z280.c
Due: none

Gave each thread its own MPU window, and made a violation fault
  ports/cortex_r52/gnu/example_build/s32z280_evb/CMakeLists.txt
  ports/cortex_r52/gnu/example_build/s32z280_evb/demo_s32z280.c
  ports/cortex_r52/gnu/example_build/s32z280_evb/mpu.c
  ports/cortex_r52/gnu/example_build/s32z280_evb/platform.h
  ports/cortex_r52/gnu/example_build/s32z280_evb/thread_mpu.c
  ports/cortex_r52/gnu/example_build/s32z280_evb/thread_mpu.h
Due: none

Gave each thread its own MPU window, and made a violation fault (#637)
  ports/cortex_r52/gnu/example_build/s32z280_evb/CMakeLists.txt
  ports/cortex_r52/gnu/example_build/s32z280_evb/demo_s32z280.c
  ports/cortex_r52/gnu/example_build/s32z280_evb/mpu.c
  ports/cortex_r52/gnu/example_build/s32z280_evb/platform.h
  ports/cortex_r52/gnu/example_build/s32z280_evb/thread_mpu.c
  ports/cortex_r52/gnu/example_build/s32z280_evb/thread_mpu.h
Due: none

Swept the stack-heavy measurement across placements, and qualified its result
  ports/cortex_r52/gnu/example_build/s32z280_evb/demo_s32z280.c
Due: none

Swept the stack-heavy measurement across placements, and qualified its result (#638)
  ports/cortex_r52/gnu/example_build/s32z280_evb/demo_s32z280.c
Due: none

Bounded the wait in the thread priority change regression tests
  test/smp/regression/threadx_thread_priority_change.c
  test/tx/regression/threadx_thread_priority_change.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Bounded the wait in the thread priority change regression tests (#640)
  test/smp/regression/threadx_thread_priority_change.c
  test/tx/regression/threadx_thread_priority_change.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Made a teardown hang in the SMP suite say where it stopped
  test/smp/regression/testcontrol.c
Due: none

Stopped the SMP stack check analyzing a stack it just found broken
  common_smp/inc/tx_thread.h
Due: .pipelines/smp.yml

Stopped the thread priority change test leaving core 0 to a finished thread
  test/smp/regression/threadx_thread_priority_change.c
Due: none

Ran the ThreadX and SMP regression suites one test at a time
  scripts/test_smp.sh
  scripts/test_tx.sh
Due: none

Gave the wait abort ISR test a budget instead of an open-ended wait
  test/smp/regression/threadx_thread_wait_abort_and_isr_test.c
  test/tx/regression/threadx_thread_wait_abort_and_isr_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Stopped a stalled install from costing a whole regression run
  .github/workflows/regression_template.yml
Due: none

Bounded the wait for the delayed suspension window
  test/smp/regression/threadx_thread_delayed_suspension_test.c
  test/tx/regression/threadx_thread_delayed_suspension_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Stopped a dead apt mirror from taking the whole install down with it
  scripts/install.sh
Due: none

Stopped a stalled install from costing a whole regression run (#641)
  .github/workflows/regression_template.yml
Due: none

Stopped a dead apt mirror from taking the whole install down with it (#642)
  scripts/install.sh
Due: none

Ran the ThreadX and SMP regression suites one test at a time (#643)
  scripts/test_smp.sh
  scripts/test_tx.sh
Due: none

Gave the wait abort ISR test a budget instead of an open-ended wait (#644)
  test/smp/regression/threadx_thread_wait_abort_and_isr_test.c
  test/tx/regression/threadx_thread_wait_abort_and_isr_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Bounded the wait for the delayed suspension window (#645)
  test/smp/regression/threadx_thread_delayed_suspension_test.c
  test/tx/regression/threadx_thread_delayed_suspension_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Made a teardown hang in the SMP suite say where it stopped (#646)
  test/smp/regression/testcontrol.c
Due: none

Stopped the thread priority change test leaving core 0 to a finished thread (#647)
  test/smp/regression/threadx_thread_priority_change.c
Due: none

Stopped the SMP stack check analyzing a stack it just found broken (#648)
  common_smp/inc/tx_thread.h
Due: .pipelines/smp.yml

Asked the wait abort test for three windows, and failed a run that reached none
  test/smp/regression/threadx_thread_wait_abort_and_isr_test.c
  test/tx/regression/threadx_thread_wait_abort_and_isr_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Asked the wait abort test for three windows, and failed a run that reached none (#649)
  test/smp/regression/threadx_thread_wait_abort_and_isr_test.c
  test/tx/regression/threadx_thread_wait_abort_and_isr_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Initialize mstatus.FS in RV64 stack build so new threads start with clean FP state
  ports/risc-v64/gnu/src/tx_thread_stack_build.S
Due: none

Add RV64 regression test for the FP state of a newly created thread
  test/tx/cmake/riscv/regression/CMakeLists.txt
  test/tx/cmake/riscv/regression/threadx_riscv_new_thread_fpu_state_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Ran the regression suites on dev, where the pull requests actually are
  .github/workflows/regression_test.yml
Due: none

Ran the regression suites on dev, where the pull requests actually are (#652)
  .github/workflows/regression_test.yml
Due: none

Revived the Cortex-M build, which had compiled nothing since June
  .github/workflows/ci_cortex_m.yml
Due: none

Kept the coverage publish on master, where the environment allows it
  .github/workflows/regression_test.yml
Due: none

Kept the coverage publish on master, where the environment allows it (#654)
  .github/workflows/regression_test.yml
Due: none

Published the coverage report instead of everything the run produced
  .github/workflows/regression_template.yml
Due: none

Allowed the Linux toolchain file to accept a compiler override
  cmake/linux.cmake
Due: none

Path conditions:
  .pipelines/smp.yml: any of: .pipelines/tx.yml, common_smp, samples, test/tx, utility, ports_smp/linux/gnu
  .pipelines/tx.yml: any of: .pipelines/tx.yml, common, samples, test/tx, utility, ports/linux/gnu
