Repository eclipse-threadx/threadx: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/smp.yml, .pipelines/tx.yml

.pipelines/smp.yml:
  pool:
    vmImage: ubuntu-22.04
  steps:
  - task: PipAuthenticate@1
    displayName: Pip Authenticate
    inputs:
      artifactFeeds: X-Ware/X-Ware_PublicPackages
  - bash: sudo $(Build.SourcesDirectory)/scripts/install.sh
    displayName: Install softwares
  - task: Bash@3
    displayName: SDL check
    inputs:
  ...

.pipelines/tx.yml:
  pool:
    vmImage: ubuntu-22.04
  steps:
  - task: PipAuthenticate@1
    displayName: Pip Authenticate
    inputs:
      artifactFeeds: X-Ware/X-Ware_PublicPackages
  - bash: sudo $(Build.SourcesDirectory)/scripts/install.sh
    displayName: Install softwares
  - task: Bash@3
    displayName: SDL check
    inputs:
  ...

Made the build step timeout a template input
  .github/workflows/regression_template.yml
Due: none

Made the build step timeout a template input (#791)
  .github/workflows/regression_template.yml
Due: none

Reverted the Linux port mutex retry on this branch
  ports/linux/gnu/inc/tx_port.h
  ports/linux/gnu/src/tx_thread_schedule.c
Due: .pipelines/tx.yml

Stopped the RISC-V install pulling a desktop media stack (#789)
  scripts/install_riscv.sh
Due: none

Stopped the coverage deploy running after a cancelled test job
  .github/workflows/regression_template.yml
Due: none

Gave the per-test ctest timeout headroom over the slowest test
  scripts/cmake_bootstrap.sh
Due: none

name the memory section of stack and TCB of timer task
  common/src/tx_timer_initialize.c
Due: .pipelines/tx.yml

Fixed MISRA stack alignment on ports with 64-bit pointers
  common/src/tx_thread_create.c
  test/tx/cmake/CMakeLists.txt
  test/tx/cmake/thread_stack_alignment/CMakeLists.txt
  test/tx/thread_stack_alignment/threadx_thread_stack_alignment_schedule_test.c
  test/tx/thread_stack_alignment/threadx_thread_stack_alignment_test.c
Due: .pipelines/smp.yml, .pipelines/tx.yml

Added ARMv7-A TX_THREAD offset checks
  ports/cortex_a12/ac6/src/tx_port_offset_check.c
  ports/cortex_a12/gnu/CMakeLists.txt
  ports/cortex_a12/gnu/src/tx_port_offset_check.c
  ports/cortex_a15/ac6/src/tx_port_offset_check.c
  ports/cortex_a15/gnu/CMakeLists.txt
  ports/cortex_a15/gnu/src/tx_port_offset_check.c
  ports/cortex_a17/ac6/src/tx_port_offset_check.c
  ports/cortex_a17/gnu/CMakeLists.txt
  ports/cortex_a17/gnu/src/tx_port_offset_check.c
  ports/cortex_a5/ac6/src/tx_port_offset_check.c
  ports/cortex_a5/gnu/CMakeLists.txt
  ports/cortex_a5/gnu/src/tx_port_offset_check.c
  ports/cortex_a7/ac6/src/tx_port_offset_check.c
  ports/cortex_a7/gnu/CMakeLists.txt
  ports/cortex_a7/gnu/src/tx_port_offset_check.c
  ports/cortex_a8/ac6/src/tx_port_offset_check.c
  ports/cortex_a8/gnu/CMakeLists.txt
  ports/cortex_a8/gnu/src/tx_port_offset_check.c
  ports/cortex_a9/ac6/src/tx_port_offset_check.c
  ports/cortex_a9/gnu/CMakeLists.txt
  ports/cortex_a9/gnu/src/tx_port_offset_check.c
  ports_arch/ARMv7-A/threadx/common/src/tx_port_offset_check.c
  ports_arch/ARMv7-A/threadx/ports/gnu/CMakeLists.txt
Due: none

Path conditions:
  .pipelines/smp.yml: any of: .pipelines/tx.yml, common_smp, samples, test/tx, utility, ports_smp/linux/gnu
  .pipelines/tx.yml: any of: .pipelines/tx.yml, common, samples, test/tx, utility, ports/linux/gnu
